# Neon PostgreSQL
DATABASE_URL=postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require

# Admin access
ADMIN_PASSWORD=contraseña
ADMIN_SESSION_SECRET=

# Resend
RESEND_API_KEY=
CONTACT_EMAIL=contacto@mariachi.com
